:root {
    // font Family
    --font-primary: 'Roboto', sans-serif;

    // Color Variable
    --color-theme:   #e11d23;
    --color-black:   #000000;
    --color-white: #ffffff;
    --color-gray: #efeff1;
}
